<div class="flex flex-column h-screen overflow-hidden" style="background-color: #0b0612;">
  
  <header id="menu" class="flex-none h-100px shadow-4 z-5" style="background-color: #161021; border-bottom: 1px solid #2d243d;">
    <p-menubar [model]="menuItems" styleClass="border-none h-full" [style]="{'background-color': '#161021'}">
      <ng-template pTemplate="end">
        <div class="flex align-items-center gap-3">
          @if (user$ | async; as user) {
            <span class="white-space-nowrap overflow-hidden text-overflow-ellipsis font-medium" 
                  style="max-width: 100px; color: #ffffff;">
              {{ user?.login }}
            </span>
          }
        </div>
      </ng-template>
    </p-menubar>
  </header>

  <main id="content" class="flex-grow-1 overflow-y-auto p-3" style="background-color: #0b0612;">
    <div class="container mx-auto">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer id="footer" class="flex-none h-75px flex align-items-center justify-content-center" 
          style="background-color: #161021; border-top: 1px solid #2d243d; color: #ffffff;">
    <p>© 2026 Магазин DirectorTanka. Все права защищены.</p>
  </footer>

</div>