<div class="h-screen overflow-hidden flex flex-column surface-ground">
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home' }"
    styleClass="py-3 px-5 m-0 surface-section border-top-1 border-bottom-1 surface-border"
  ></p-breadcrumb>

  <div class="flex relative lg:static p-5 flex-auto overflow-hidden">
    <div
      id="app-sidebar-12"
      class="surface-card hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 select-none shadow-2"
      style="width: 280px; border-radius: 12px"
    >
      <div class="flex flex-column h-full">
        <div class="overflow-y-auto h-full">
          <p-panelMenu [model]="sidebarItems" [style]="{ width: '100%' }" [pt]="{
            root: { class: 'h-full'},
            panel: { class: 'h-full'}
          }" ></p-panelMenu>
        </div>
      </div>
    </div>

    <div class="flex-1 ml-5 overflow-hidden flex flex-column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

